{{! Use default.hbs Layout}}
{{!< default}}
{{! Use header.hbs for Header}}
{{> header}}
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<main class="main-ghost" role="main">
				{{! Post per pages defined by Ghost settings. }}
				{{#foreach posts}}
					{{! Exclude link-blog posts }}
					{{^has tag="link-blog"}}
					<article class="article-ghost" role="article" itemscope itemtype="http://schema.org/Article">
						<header class="postheader-ghost">
							<h1 class="posttitle-ghost" itemprop="headline"><a href="{{{url}}}" rel="bookmark">{{title}}</a></h1>
						</header>
						<div class="postexcerpt-ghost" itemprop="articleBody">
							{{excerpt words="20"}} <span class="read-more"><a href="{{{url}}}">Read More &raquo;</a></span>
						</div>
						<div class="date-and-tags-ghost">Posted <time class="date-ghost" datetime="{{date format="MM-DD-YYYY"}}" itemprop="datePublished">{{date format='MMMM wo, YYYY'}}</time>{{#if tags}}<span class="posttags-ghost">, Under: {{tags separator=" "}}</span>{{/if}}</div>
					</article>
					<hr>
					{{/has}}
				{{/foreach}}
				{{#if pagination}}
					<div class="pagination-ghost">
						{{! Use pagenation.hbs }}
						{{{pagination}}}
					</div>
				{{/if}}
			</main>
		</div>
	</div>
</div>
<hr class="endpost-ghost">
{{! Use footer.hbs }}
{{> footer}}